
/DBreeze/obj
/VisualTester/obj
/DBreezeBased/obj
/DBreeze.v11.suo
/DBreeze.suo
/DBreezeBased/bin/Release/protobuf-net.pdb
/DBreezeBased/bin/Release/DBreeze.pdb
/DBreezeBased/bin/Release/DBreezeBased.pdb
/VisualTester/bin/Release/DBreeze.pdb
/VisualTester/bin/Release/DBreezeBased.pdb
/VisualTester/bin/Release/protobuf-net.pdb
/VisualTester/bin/Release/VisualTester.pdb
/.svn